body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Verdana, sans-serif;
}

.header {
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-links {
    font-weight: 700;
    font-size: 20px;
}

.right-links {
    gap: 16px;
    display: flex;
    color: white;
    font-size: 14px;
}

.main-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.intro-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: lightseagreen;
    flex: 1;
    color: white;
    gap: 60px;
}

.left-side-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
}

.intro-button {
    border-radius: 10px;
    border: 2px solid rgb(19, 105, 89);
    background-color: rgb(19, 105, 89);
    color: white;
    padding: 12px 32px;
}

.intro-heading {
    font-size: 36px;
    font-weight: 600;
}

.intro-photo {
    display: flex;
    flex: 1;
}

.photo-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    background-color: white;
    gap: 16px;
    flex: 1;
}

.photo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 10px;
}

.photo {
    border-radius: 10px;
    border: 4px solid rgb(19, 105, 89);
    overflow: hidden;
}

.photos-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-1, .photo-2, .photo-3, .photo-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto 20px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 30px 60px;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.quote, .quotee-1 {
    max-width: 800px;
}

.quote {
    font-size: 36px;
}

.quotee-1 {
    display: flex;
    justify-content: flex-end;
}

.photo {
    display: flex;
    justify-content: center;
}

.sign-up {
    display: flex;
    padding: 60px;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: white;
}

.sign-up-box {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 105, 89);
    padding: 50px 75px;
    gap: 100px;
}

.sign-up-left-text {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.sign-up-top-text {
    font-size: 20px;
    font-weight: 600;
}

.sign-up-bottom-text {
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

.photos-row p {
    width: 200px;
}

.sign-up-button {
    border-radius: 10px;
    padding: 8px 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
    padding: 24px;
    color: white;
    border-color: white;
    font-size: 12px;
}
