body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Verdana, sans-serif;
}

.header {
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-links {
    font-weight: 700;
}

.right-links {
    gap: 16px;
    display: flex;
    color: white;
}

.main-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.intro-container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: lightseagreen;
    flex: 1;
    color: white;
}

.intro-button {
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(19, 105, 89);
    color: white;
}

.photo-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: white;
    gap: 16px;
    flex: 1;
}

.quote-container {
    display: flex;
    background-color: lightblue;
    padding: 20px;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.photo {
    display: flex;
    justify-content: center;
}

.sign-up {
    display: flex;
    padding: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.sign-up-button {
    border-radius: 10px;
    padding: 8px 16px;
    background-color: transparent;
    border: 2px solid white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
    padding: 8px;
    color: white;
    border-color: white;
    font-size: 12px;
}
